In [16]:
%load_ext autoreload
%autoreload 2
import os
from utils import vid_info_dataframe, frame_info_dataframe, submit_job
from detector_validation_helpers import sample_dataframe, calc_prf, save_sample_imgs
from openpose_helpers import run_openpose, condense_openpose
from config import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
VIDEO_DIRS

['/scratch/users/agrawalk/pipeline_test_vids/']

In [5]:
vid_df = vid_info_dataframe(VIDEO_DIRS)
vid_df.head()

,vid_path,vid_name,child_id,unix_time,frame_count,fps
0,/scratch/users/agrawalk/pipeline_test_vids/S_2...,S_20130421_0604_01.AVI,S,1.366528e+09,18259,30.000300
1,/scratch/users/agrawalk/pipeline_test_vids/S_2...,S_20130421_0604_02.AVI,S,1.366528e+09,53656,29.805371
2,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A_20130531_0818_01,A,1.369984e+09,53798,29.886432
3,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A_20130601_0819_04,A,1.370070e+09,29024,29.915936

In [6]:
vid_df['vid_name'].unique()

array(['S_20130421_0604_01.AVI', 'S_20130421_0604_02.AVI',
       'A_20130531_0818_01', 'A_20130601_0819_04'], dtype=object)

In [7]:
frame_df = frame_info_dataframe(vid_df)

In [8]:
frame_df.head()

,vid_name,vid_path,child_id,frame
0,S_20130421_0604_01.AVI,/scratch/users/agrawalk/pipeline_test_vids/S_2...,S,0
1,S_20130421_0604_01.AVI,/scratch/users/agrawalk/pipeline_test_vids/S_2...,S,1
2,S_20130421_0604_01.AVI,/scratch/users/agrawalk/pipeline_test_vids/S_2...,S,2
3,S_20130421_0604_01.AVI,/scratch/users/agrawalk/pipeline_test_vids/S_2...,S,3
4,S_20130421_0604_01.AVI,/scratch/users/agrawalk/pipeline_test_vids/S_2...,S,4

In [9]:
sample_df = sample_dataframe(frame_df, sample_size=100)

In [10]:
print(sample_df.info())
sample_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
vid_name    100 non-null object
vid_path    100 non-null object
child_id    100 non-null object
frame       100 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.2+ KB
None

,vid_name,vid_path,child_id,frame
0,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,4378
1,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,5626
2,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,6760
3,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,8501
4,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,8840

In [13]:
save_sample_imgs(sample_df)

Loading imgs #0
Saving imgs #0

In [ ]:
annotate_frames([os.path.join(OUTPUT, 'sample_imgs_0.npy')])

In [58]:
calc_prf([0,1,0,1], [0,1,0,0], print_vals=True)

Precision: 0.5 Recall: 1.0 F1 Score: 0.6666666666666666

(0.5, 1.0, 0.6666666666666666)