In [1]:
%load_ext autoreload
%autoreload 2
import os

from config import *
from utils import *
from detector_validation_helpers import *

In [2]:
print('VID_DATAFRAME_PATH: ', VID_DATAFRAME_PATH)
print('FRAME_DATAFRAME_PATH: ', FRAME_DATAFRAME_PATH)
print('GOLD_SET_NUM_FRAMES: ', GOLD_SET_NUM_FRAMES)

VID_DATAFRAME_PATH:  /Users/brialong/Documents/GitHub/headcam-algo/data/op_outputs/master_vid_info.json
FRAME_DATAFRAME_PATH:  /Users/brialong/Documents/GitHub/headcam-algo/data/op_outputs/master_frames_openpose.h5
GOLD_SET_NUM_FRAMES:  24000

In [11]:
import h5py
file = h5py.File(FRAME_DATAFRAME_PATH, 'r')
file.keys()

In [8]:
frame_df_full = pd.read_hdf(FRAME_DATAFRAME_PATH)

ValueError: key must be provided when HDF5 file contains multiple datasets.

In [7]:
frame_df.head(15)

,vid_name,vid_path,child_id,frame,unix_time,age_days,nose_conf,wrist_conf,face_openpose,hand_openpose
0,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,0,2013-05-31,260,0.0,0.000000,False,False
1,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,1,2013-05-31,260,0.0,0.000000,False,False
2,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,2,2013-05-31,260,0.0,0.000000,False,False
3,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,3,2013-05-31,260,0.0,0.000000,False,False
4,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,4,2013-05-31,260,0.0,0.000000,False,False
5,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,5,2013-05-31,260,0.0,0.000000,False,False
6,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,6,2013-05-31,260,0.0,0.000000,False,False
7,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,7,2013-05-31,260,0.0,0.000000,False,False
8,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,8,2013-05-31,260,0.0,0.000000,False,False
9,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,9,2013-05-31,260,0.0,0.000000,False,False
10,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,10,2013-05-31,260,0.0,0.000000,False,False
11,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,11,2013-05-31,260,0.0,0.000000,False,False
12,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,12,2013-05-31,260,0.0,0.000000,False,False
13,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,13,2013-05-31,260,0.0,0.000000,False,False
14,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,14,2013-05-31,260,0.0,0.639955,False,True

In [7]:
sample_df = sample_dataframe(frame_df, sample_size=GOLD_SET_NUM_FRAMES)

In [10]:
print(sample_df.info())
sample_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
vid_name    100 non-null object
vid_path    100 non-null object
child_id    100 non-null object
frame       100 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.2+ KB
None

,vid_name,vid_path,child_id,frame
0,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,4378
1,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,5626
2,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,6760
3,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,8501
4,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,8840

In [13]:
batch_paths = save_sample_imgs(sample_df)

Loading imgs #0
Saving imgs #0

In [ ]:
#NOTE: May need to run this on local machine.
sample_df['face_present'], sample_df['hand_present'] = annotate_frames(batch_paths)

In [58]:
#Need to make sure that face_openpose column is present in sample_df
calc_prf(sample_df['face_openpose'], sample_df['face_present'], print_vals=True)

Precision: 0.5 Recall: 1.0 F1 Score: 0.6666666666666666

(0.5, 1.0, 0.6666666666666666)