In [1]:
%load_ext autoreload
%autoreload 2
import os

from config import *
from utils import *
from detector_validation_helpers import *

In [2]:
print('VID_DATAFRAME_PATH: ', VID_DATAFRAME_PATH)
print('FRAME_DATAFRAME_PATH: ', FRAME_DATAFRAME_PATH)
print('GOLD_SET_NUM_FRAMES: ', GOLD_SET_NUM_FRAMES)

VID_DATAFRAME_PATH:  /Users/brialong/Documents/GitHub/headcam-algo/data/master_vid_info.json
FRAME_DATAFRAME_PATH:  /Users/brialong/Documents/GitHub/headcam-algo/data/master_frames_openpose.h5
GOLD_SET_NUM_FRAMES:  24000

In [3]:
#Takes a minute or so to load
frame_df = pd.read_hdf(FRAME_DATAFRAME_PATH, key='master_frames')
frame_df.head()

,vid_name,vid_path,child_id,frame,unix_time,age_days,nose_conf,wrist_conf,face_openpose,hand_openpose
0,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,0,2013-05-31,260,0.0,0.0,False,False
1,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,1,2013-05-31,260,0.0,0.0,False,False
2,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,2,2013-05-31,260,0.0,0.0,False,False
3,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,3,2013-05-31,260,0.0,0.0,False,False
4,A_20130531_0818_01,/scratch/groups/mcfrank/Home_Headcam_new/A_201...,A,4,2013-05-31,260,0.0,0.0,False,False

In [11]:
num_videos = len(np.unique(frame_df.vid_name))

In [12]:
num_videos

1635

In [7]:
sample_df = sample_dataframe(frame_df, sample_size=GOLD_SET_NUM_FRAMES)

In [10]:
print(sample_df.info())
sample_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
vid_name    100 non-null object
vid_path    100 non-null object
child_id    100 non-null object
frame       100 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.2+ KB
None

,vid_name,vid_path,child_id,frame
0,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,4378
1,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,5626
2,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,6760
3,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,8501
4,A_20130531_0818_01,/scratch/users/agrawalk/pipeline_test_vids/A_2...,A,8840

In [13]:
batch_paths = save_sample_imgs(sample_df)

Loading imgs #0
Saving imgs #0

In [ ]:
#NOTE: May need to run this on local machine.
sample_df['face_present'], sample_df['hand_present'] = annotate_frames(batch_paths)

In [58]:
#Need to make sure that face_openpose column is present in sample_df
calc_prf(sample_df['face_openpose'], sample_df['face_present'], print_vals=True)

Precision: 0.5 Recall: 1.0 F1 Score: 0.6666666666666666

(0.5, 1.0, 0.6666666666666666)